Repository christianhuth/helm-charts, pull requests merged in 2022-12, with the labels that each got.

#160 Initial Commit for sloop
  charts/sloop/.helmignore
  charts/sloop/Chart.yaml
  charts/sloop/README.md
  charts/sloop/README.md.gotmpl
  charts/sloop/templates/NOTES.txt
  charts/sloop/templates/_helpers.tpl
  charts/sloop/templates/clusterrole.yaml
  charts/sloop/templates/clusterrolebinding.yaml
  charts/sloop/templates/configmap.yaml
  charts/sloop/templates/deployment.yaml
  charts/sloop/templates/hpa.yaml
  charts/sloop/templates/ingress.yaml
  charts/sloop/templates/pvc.yaml
  charts/sloop/templates/service.yaml
  charts/sloop/templates/serviceaccount.yaml
  charts/sloop/values.schema.json
  charts/sloop/values.yaml
Labels: size/XL, sloop

#167 Initial Commit
  charts/promlens/.helmignore
  charts/promlens/Chart.yaml
  charts/promlens/README.md
  charts/promlens/README.md.gotmpl
  charts/promlens/templates/NOTES.txt
  charts/promlens/templates/_helpers.tpl
  charts/promlens/templates/deployment.yaml
  charts/promlens/templates/gcs-secret.yaml
  charts/promlens/templates/grafana-secret.yaml
  charts/promlens/templates/hpa.yaml
  charts/promlens/templates/ingress.yaml
  charts/promlens/templates/service.yaml
  charts/promlens/templates/serviceaccount.yaml
  charts/promlens/templates/sql-secret.yaml
  charts/promlens/values.schema.json
  charts/promlens/values.yaml
Labels: size/XL, promlens

#191 Initial Commit
  charts/headwind-mdm/.helmignore
  charts/headwind-mdm/Chart.yaml
  charts/headwind-mdm/README.md
  charts/headwind-mdm/README.md.gotmpl
  charts/headwind-mdm/templates/NOTES.txt
  charts/headwind-mdm/templates/_helpers.tpl
  charts/headwind-mdm/templates/deployment.yaml
  charts/headwind-mdm/templates/hpa.yaml
  charts/headwind-mdm/templates/ingress.yaml
  charts/headwind-mdm/templates/pvc.yaml
  charts/headwind-mdm/templates/secret.yaml
  charts/headwind-mdm/templates/service.yaml
  charts/headwind-mdm/templates/serviceaccount.yaml
  charts/headwind-mdm/values.schema.json
  charts/headwind-mdm/values.yaml
Labels: size/XXL, headwind-mdm

#202 Initial Commit
  charts/priority-classes/.helmignore
  charts/priority-classes/Chart.yaml
  charts/priority-classes/README.md
  charts/priority-classes/README.md.gotmpl
  charts/priority-classes/templates/_helpers.tpl
  charts/priority-classes/templates/priority-class.yaml
  charts/priority-classes/values.schema.json
  charts/priority-classes/values.yaml
Labels: size/L, priority-classes

#204 Initial Commit
  charts/syncserver/.helmignore
  charts/syncserver/Chart.yaml
  charts/syncserver/README.md
  charts/syncserver/README.md.gotmpl
  charts/syncserver/templates/NOTES.txt
  charts/syncserver/templates/_helpers.tpl
  charts/syncserver/templates/deployment.yaml
  charts/syncserver/templates/ingress.yaml
  charts/syncserver/templates/pvc.yaml
  charts/syncserver/templates/secret.yaml
  charts/syncserver/templates/service.yaml
  charts/syncserver/templates/serviceaccount.yaml
  charts/syncserver/values.schema.json
  charts/syncserver/values.yaml
Labels: size/XL, syncserver

#208 fix: kutt probes path
  .github/config/datree.yaml
  .github/workflows/datree.yaml
  charts/kutt/Chart.yaml
  charts/kutt/templates/deployment.yaml
Labels: size/S, kutt

#214 added revisionHistoryLimit
  charts/kube-ops-view/Chart.yaml
  charts/kube-ops-view/README.md
  charts/kube-ops-view/templates/deployment.yaml
  charts/kube-ops-view/values.schema.json
  charts/kube-ops-view/values.yaml
Labels: kube-ops-view, size/S

#216 added revisionHistoryLimit
  charts/kutt/Chart.yaml
  charts/kutt/README.md
  charts/kutt/templates/deployment.yaml
  charts/kutt/values.schema.json
  charts/kutt/values.yaml
Labels: kutt, size/L

#215 changed template definition for revisionHistoryLimit
  charts/headwind-mdm/Chart.yaml
  charts/headwind-mdm/templates/deployment.yaml
Labels: size/XS, headwind-mdm

#217 added docs for values and revisionHistoryLimit
  charts/typo3/Chart.yaml
  charts/typo3/README.md
  charts/typo3/templates/deployment.yaml
  charts/typo3/values.schema.json
  charts/typo3/values.yaml
Labels: typo3, size/L

#219 added revisionHistoryLimit
  charts/sloop/Chart.yaml
  charts/sloop/README.md
  charts/sloop/templates/deployment.yaml
  charts/sloop/values.schema.json
  charts/sloop/values.yaml
Labels: size/L, sloop

#220 added revisionHistoryLimit and docs for values
  charts/skooner/Chart.yaml
  charts/skooner/README.md
  charts/skooner/templates/deployment.yaml
  charts/skooner/values.schema.json
  charts/skooner/values.yaml
Labels: size/L, skooner

#222 added revisionHistoryLimit and docs for values
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/README.md
  charts/shlink-backend/templates/deployment.yaml
  charts/shlink-backend/values.schema.json
  charts/shlink-backend/values.yaml
Labels: shlink-backend, size/L

#223 added revisionHistoryLimit and docs for values
  charts/proxyweb/Chart.yaml
  charts/proxyweb/README.md
  charts/proxyweb/templates/deployment.yaml
  charts/proxyweb/values.schema.json
  charts/proxyweb/values.yaml
Labels: size/L, proxyweb

#224 added revisionHistoryLimit and docs for values
  charts/proxysql/Chart.yaml
  charts/proxysql/README.md
  charts/proxysql/templates/deployment.yaml
  charts/proxysql/templates/service.yaml
  charts/proxysql/values.schema.json
  charts/proxysql/values.yaml
Labels: proxysql, size/L

#225 added revisionHistoryLimit
  charts/promlens/Chart.yaml
  charts/promlens/README.md
  charts/promlens/templates/deployment.yaml
  charts/promlens/values.schema.json
  charts/promlens/values.yaml
Labels: size/S, promlens

#227 added revisionHistoryLimit and docs for values
  charts/polr/Chart.yaml
  charts/polr/README.md
  charts/polr/templates/deployment.yaml
  charts/polr/values.schema.json
  charts/polr/values.yaml
Labels: polr, size/L

#228 added revisionHistoryLimit and docs for values
  charts/netcupscp-exporter/Chart.yaml
  charts/netcupscp-exporter/README.md
  charts/netcupscp-exporter/README.md.gotmpl
  charts/netcupscp-exporter/templates/deployment.yaml
  charts/netcupscp-exporter/values.schema.json
  charts/netcupscp-exporter/values.yaml
Labels: size/L, netcupscp-exporter

#218 added revisionHistoryLimit
  charts/syncserver/Chart.yaml
  charts/syncserver/README.md
  charts/syncserver/templates/deployment.yaml
  charts/syncserver/values.schema.json
  charts/syncserver/values.yaml
Labels: size/S, syncserver

#226 Add revisionHistoryLimit
  charts/prometheus-pve-exporter/Chart.yaml
  charts/prometheus-pve-exporter/README.md
  charts/prometheus-pve-exporter/README.md.gotmpl
  charts/prometheus-pve-exporter/templates/deployment.yaml
  charts/prometheus-pve-exporter/templates/hpa.yaml
  charts/prometheus-pve-exporter/values.schema.json
  charts/prometheus-pve-exporter/values.yaml
Labels: size/L, prometheus-pve-exporter

#231 add support for basic auth
  charts/popeye/Chart.yaml
  charts/popeye/README.md
  charts/popeye/templates/_helpers.tpl
  charts/popeye/templates/cronjob.yaml
  charts/popeye/templates/secret.yaml
  charts/popeye/values.schema.json
  charts/popeye/values.yaml
Labels: size/L, popeye
