Repository christianhuth/helm-charts, pull requests merged in 2023-04, with the labels that each got.

#605 Fix missing password env secrets for celery workers in Baserow
  charts/baserow/Chart.yaml
  charts/baserow/templates/celery-deployment.yaml
Labels: size/M, baserow

#620 Fix Grafana API Token authentication
  charts/promlens/Chart.yaml
  charts/promlens/templates/deployment.yaml
Labels: size/M, promlens

#629 Initial Release of Maildev
  README.md
  charts/maildev/.helmignore
  charts/maildev/Chart.yaml
  charts/maildev/README.md
  charts/maildev/README.md.gotmpl
  charts/maildev/templates/NOTES.txt
  charts/maildev/templates/_helpers.tpl
  charts/maildev/templates/deployment.yaml
  charts/maildev/templates/hpa.yaml
  charts/maildev/templates/ingress.yaml
  charts/maildev/templates/persistence/cronjob.yaml
  charts/maildev/templates/persistence/pvc.yaml
  charts/maildev/templates/serviceaccount.yaml
  charts/maildev/templates/smtp/configmap.yaml
  charts/maildev/templates/smtp/incoming-secret.yaml
  charts/maildev/templates/smtp/outgoing-secret.yaml
  charts/maildev/templates/smtp/service.yaml
  charts/maildev/templates/web/secret.yaml
  charts/maildev/templates/web/service.yaml
  charts/maildev/values.schema.json
  charts/maildev/values.yaml
Labels: size/XXL, maildev

#644 fixed wrong values for auth values of externalPostgresql
  charts/kutt/Chart.yaml
  charts/kutt/README.md
  charts/kutt/templates/_helpers.tpl
  charts/kutt/values.schema.json
  charts/kutt/values.yaml
Labels: kutt, size/M
