Repository christianhuth/helm-charts, pull requests merged in 2023-10, with the labels that each got.

#987 Fixed postgresql includes and templates
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/README.md
  charts/shlink-backend/templates/deployment.yaml
  charts/shlink-backend/values.yaml
Labels: size/S, shlink-backend

#1004 fix(kutt): typo on CONTACT_EMAIL env
  charts/kutt/Chart.yaml
  charts/kutt/templates/kutt/deployment.yaml
Labels: size/XS, kutt

#1005 fix(kutt): add missing kutt.mail.from MAIL_FROM env
  charts/kutt/Chart.yaml
  charts/kutt/templates/kutt/deployment.yaml
Labels: size/S, kutt

#1003 fix(kutt): add missing .auth level to postgres secret.yaml
  charts/kutt/Chart.yaml
  charts/kutt/templates/postgresql/secret.yaml
Labels: size/XS, kutt

#1002 added the possibility a custom labels
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/templates/_helpers.tpl
  charts/shlink-backend/values.yaml
  charts/shlink-web/Chart.yaml
  charts/shlink-web/templates/_helpers.tpl
  charts/shlink-web/values.yaml
Labels: size/S, shlink-backend, shlink-web
