Repository christianhuth/helm-charts, pull requests merged in 2023-02, with the labels that each got.

#379 Another option the the helm chart to support to s3 bucket
  charts/popeye/Chart.yaml
  charts/popeye/README.md
  charts/popeye/templates/clusterrole.yaml
  charts/popeye/templates/cronjob.yaml
  charts/popeye/values.schema.json
  charts/popeye/values.yaml
Labels: size/L, popeye

#393 fix rbac to make ci work again
  charts/popeye/Chart.yaml
  charts/popeye/templates/clusterrole.yaml
Labels: size/XS, popeye

#384 Fix helm install not working out of the box for baserow chart
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/NOTES.txt
  charts/baserow/templates/backend-configmap.yaml
  charts/baserow/templates/email-secret.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/S, baserow

#395 shlink-backend dependency update
  charts/shlink-backend/Chart.yaml
Labels: size/XS, shlink-backend

#394 baserow update of dependencies
  charts/baserow/Chart.yaml
Labels: size/XS, baserow

#436 feat: added revisionHistoryLimit
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/asgi-deployment.yaml
  charts/baserow/templates/celery-deployment.yaml
  charts/baserow/templates/frontend-deployment.yaml
  charts/baserow/templates/wsgi-deployment.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow

#437 feat: added revisionHistoryLimit
  charts/umami/.values.yaml.swp
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/templates/deployment.yaml
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami

#438 feat: changed the way we expose database informations to the pod
  charts/umami/.values.yaml.swp
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/templates/_helpers.tpl
  charts/umami/templates/db-secret.yaml
  charts/umami/templates/deployment.yaml
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/L, umami

#439 patch: added option to remove DISABLE_LOGIN
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/templates/deployment.yaml
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami
