Repository christianhuth/helm-charts, pull requests merged in 2024-08, with the labels that each got.

#1110 fixed outdated repo url
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/README.md.gotmpl
Labels: size/S, baserow

#1100 Add priorityClassName as an option for baserow
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/asgi/asgi-deployment.yaml
  charts/baserow/templates/celery/celery-deployment.yaml
  charts/baserow/templates/frontend/frontend-deployment.yaml
  charts/baserow/templates/wsgi/wsgi-deployment.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow

#1102 Add selectorLabels for baserow pods
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/_helpers.tpl
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow

#1120 added support for incoming tls
  charts/maildev/Chart.yaml
  charts/maildev/templates/_helpers.tpl
  charts/maildev/templates/maildev/deployment.yaml
  charts/maildev/templates/maildev/hpa.yaml
  charts/maildev/templates/maildev/ingress.yaml
  charts/maildev/templates/maildev/serviceaccount.yaml
  charts/maildev/templates/smtp/incoming/secret.yaml
  charts/maildev/templates/smtp/incoming/tls/secret.yaml
  charts/maildev/templates/smtp/outgoing/configmap.yaml
  charts/maildev/templates/smtp/outgoing/secret.yaml
  charts/maildev/values.yaml
Labels: size/M, maildev

#1121 shared secret and host mapping
  charts/headwind-mdm/Chart.yaml
  charts/headwind-mdm/README.md
  charts/headwind-mdm/templates/_helpers.tpl
  charts/headwind-mdm/templates/deployment.yaml
  charts/headwind-mdm/templates/postgresql/secret.yaml
  charts/headwind-mdm/templates/secret.yaml
  charts/headwind-mdm/values.yaml
Labels: size/L, headwind-mdm

#1124 Update FUNDING.yml
  .github/FUNDING.yml
Labels: size/XS

#1125 fixed error when using autoscaling
  charts/baserow/Chart.yaml
  charts/baserow/templates/asgi/asgi-hpa.yaml
  charts/baserow/templates/celery/celery-hpa.yaml
  charts/baserow/templates/frontend/frontend-hpa.yaml
  charts/baserow/templates/wsgi/wsgi-hpa.yaml
Labels: size/M, baserow

#1144 Update CODEOWNERS
  .github/CODEOWNERS
  .gitignore
  CODEOWNERS
Labels: size/XS, ci-cd

#1101 Add options for configuring the ready/liveness probes to baserow
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/asgi/asgi-deployment.yaml
  charts/baserow/templates/celery/celery-deployment.yaml
  charts/baserow/templates/frontend/frontend-deployment.yaml
  charts/baserow/templates/wsgi/wsgi-deployment.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/L, baserow

#1147 Add Signing of Helm Charts to CI-Pipeline
  .github/config/chart-releaser.yaml
  .github/workflows/release.yaml
Labels: size/XS

#1148 Update Chart.yaml
  charts/passbolt-ha/Chart.yaml
Labels: size/XS, passbolt-ha
