Repository christianhuth/helm-charts, pull requests merged in 2024-02, with the labels that each got.

#1033 Patch 1
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/templates/cronjob.yaml
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag

#1028 feat: added hostNetwork functionality for etcd-defrag CronJob
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/templates/cronjob.yaml
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag

#1036 [MailDev] Separate SMTP and web ports on Pod and k8s Service
  charts/maildev/Chart.yaml
  charts/maildev/README.md
  charts/maildev/templates/deployment.yaml
  charts/maildev/values.yaml
Labels: size/S, maildev

#1025 fixed typo volumes pointing to the wrong path on the container #1024
  charts/typo3/Chart.yaml
  charts/typo3/templates/deployment.yaml
Labels: typo3, size/S

#1043 removed version footer from READMEs
  charts/baserow/README.md
  charts/etcd-defrag/README.md
  charts/etcd-defrag/README.md.gotmpl
  charts/headwind-mdm/README.md
  charts/headwind-mdm/README.md.gotmpl
  charts/kube-ops-view/README.md
  charts/kube-ops-view/README.md.gotmpl
  charts/kubedoom/README.md
  charts/kubedoom/README.md.gotmpl
  charts/kubenav/README.md
  charts/kubenav/README.md.gotmpl
  charts/kutt/README.md
  charts/kutt/README.md.gotmpl
  charts/maildev/README.md
  charts/maildev/README.md.gotmpl
  charts/netcupscp-exporter/README.md
  charts/netcupscp-exporter/README.md.gotmpl
  charts/node-access/README.md
  charts/node-access/README.md.gotmpl
  charts/passbolt-ha/README.md
  charts/passbolt-ha/README.md.gotmpl
  charts/polr/README.md
  charts/polr/README.md.gotmpl
  charts/popeye/README.md
  charts/popeye/README.md.gotmpl
  charts/priority-classes/README.md
  charts/priority-classes/README.md.gotmpl
  charts/prometheus-pve-exporter/README.md
  charts/prometheus-pve-exporter/README.md.gotmpl
  charts/promlens/README.md
  charts/promlens/README.md.gotmpl
  charts/proxysql/README.md
  charts/proxysql/README.md.gotmpl
  charts/proxyweb/README.md
  charts/proxyweb/README.md.gotmpl
  charts/shlink-backend/README.md
  charts/shlink-backend/README.md.gotmpl
  charts/shlink-web/README.md
  charts/shlink-web/README.md.gotmpl
  charts/skooner/README.md
  charts/skooner/README.md.gotmpl
  charts/sloop/README.md
  charts/sloop/README.md.gotmpl
  charts/syncserver/README.md
  charts/syncserver/README.md.gotmpl
  charts/tenant-namespace/README.md
  charts/tenant-namespace/README.md.gotmpl
  charts/typo3/README.md
  charts/typo3/README.md.gotmpl
  charts/umami/README.md
  charts/umami/README.md.gotmpl
Labels: typo3, kube-ops-view, shlink-backend, kutt, passbolt-ha, polr, proxysql, size/L, popeye, proxyweb, netcupscp-exporter, prometheus-pve-exporter, maildev, sloop, umami, promlens, headwind-mdm, baserow, priority-classes, syncserver, shlink-web, skooner, etcd-defrag, node-access, kubedoom, tenant-namespace

#1050 Update labeler.yml
  .github/config/labeler.yml
Labels: size/M

#1078 changed default value of removeDisableLoginEnv
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/values.yaml
Labels: size/XS, umami

#1082 Added the ability to use custom pod labels
  charts/umami/Chart.yaml
  charts/umami/templates/_helpers.tpl
  charts/umami/values.yaml
Labels: size/S, umami
