Repository christianhuth/helm-charts, pull requests merged in 2024-10, with the labels that each got.

#1158 initial commit for cluster-api-visualizer
  charts/cluster-api-visualizer/.helmignore
  charts/cluster-api-visualizer/Chart.yaml
  charts/cluster-api-visualizer/README.md
  charts/cluster-api-visualizer/README.md.gotmpl
  charts/cluster-api-visualizer/capi.png
  charts/cluster-api-visualizer/templates/NOTES.txt
  charts/cluster-api-visualizer/templates/_helpers.tpl
  charts/cluster-api-visualizer/templates/clusterrole.yaml
  charts/cluster-api-visualizer/templates/clusterrolebinding.yaml
  charts/cluster-api-visualizer/templates/deployment.yaml
  charts/cluster-api-visualizer/templates/hpa.yaml
  charts/cluster-api-visualizer/templates/ingress.yaml
  charts/cluster-api-visualizer/templates/service.yaml
  charts/cluster-api-visualizer/templates/serviceaccount.yaml
  charts/cluster-api-visualizer/values.schema.json
  charts/cluster-api-visualizer/values.yaml
Labels: size/XL, cluster-api-visualizer

#1160 changed Chart icon
  charts/cluster-api-visualizer/Chart.yaml
Labels: size/XS, cluster-api-visualizer

#1161 Update Chart.yaml
  charts/cluster-api-visualizer/Chart.yaml
Labels: size/XS, cluster-api-visualizer

#1166 Dev argo cd metrics extension
  .github/config/labeler.yaml
  .github/workflows/chart-releaser.yml
  .github/workflows/chart-testing.yml
  .github/workflows/labeler.yml
  .github/workflows/prepare.yml
  README.md
  charts/argocd-metrics-server/.helmignore
  charts/argocd-metrics-server/Chart.yaml
  charts/argocd-metrics-server/README.md
  charts/argocd-metrics-server/README.md.gotmpl
  charts/argocd-metrics-server/templates/_helpers.tpl
  charts/argocd-metrics-server/templates/configmap.yaml
  charts/argocd-metrics-server/templates/deployment.yaml
  charts/argocd-metrics-server/templates/networkpolicy.yaml
  charts/argocd-metrics-server/templates/service.yaml
  charts/argocd-metrics-server/templates/serviceaccount.yaml
  charts/argocd-metrics-server/values.schema.json
  charts/argocd-metrics-server/values.yaml
Labels: size/XXL

#1167 Update chart-releaser.yml
  .github/workflows/chart-releaser.yml
Labels: size/M

#1168 added support for stable autoscaling api
  charts/cluster-api-visualizer/Chart.yaml
  charts/cluster-api-visualizer/templates/hpa.yaml
  charts/headwind-mdm/Chart.yaml
  charts/headwind-mdm/templates/hpa.yaml
  charts/kubedoom/Chart.yaml
  charts/kubedoom/templates/hpa.yaml
  charts/kutt/Chart.yaml
  charts/kutt/templates/kutt/hpa.yaml
  charts/maildev/Chart.yaml
  charts/maildev/templates/maildev/hpa.yaml
  charts/netcupscp-exporter/Chart.yaml
  charts/netcupscp-exporter/templates/hpa.yaml
  charts/polr/Chart.yaml
  charts/polr/templates/hpa.yaml
  charts/prometheus-pve-exporter/Chart.yaml
  charts/prometheus-pve-exporter/templates/hpa.yaml
  charts/promlens/Chart.yaml
  charts/promlens/templates/hpa.yaml
  charts/proxysql/Chart.yaml
  charts/proxysql/templates/hpa.yaml
  charts/proxyweb/Chart.yaml
  charts/proxyweb/templates/hpa.yaml
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/templates/hpa.yaml
  charts/shlink-web/Chart.yaml
  charts/shlink-web/templates/hpa.yaml
  charts/skooner/Chart.yaml
  charts/skooner/templates/hpa.yaml
  charts/sloop/Chart.yaml
  charts/sloop/templates/hpa.yaml
  charts/typo3/Chart.yaml
  charts/typo3/templates/hpa.yaml
  charts/umami/Chart.yaml
  charts/umami/templates/hpa.yaml
Labels: typo3, shlink-backend, kutt, polr, proxysql, size/L, proxyweb, netcupscp-exporter, prometheus-pve-exporter, maildev, sloop, umami, promlens, headwind-mdm, shlink-web, skooner, kubedoom, cluster-api-visualizer

#1177 added attribute to specify dashboards
  charts/argocd-metrics-server/Chart.yaml
  charts/argocd-metrics-server/README.md
  charts/argocd-metrics-server/templates/configmap.yaml
  charts/argocd-metrics-server/values.schema.json
  charts/argocd-metrics-server/values.yaml
Labels: size/XL, argocd-metrics-server

#1178 feat: add support for volume mounts in skooner
  charts/skooner/Chart.yaml
  charts/skooner/README.md
  charts/skooner/templates/deployment.yaml
  charts/skooner/values.schema.json
  charts/skooner/values.yaml
Labels: size/S, skooner
