Repository christianhuth/helm-charts, pull requests merged in 2025-06, with the labels that each got.

#1898 [squest]: Fix the deployment strategy setting
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
Labels: size/S, squest

#1899 [squest] really fix deployment recreate
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
Labels: size/S, squest

#1900 [squest] really fix deployment recreate (#1899)
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
Labels: size/S, squest

#1902 chore(deps): update rabbitmq docker tag to v16.0.5
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1903 chore(deps): update mongodb docker tag to v16.5.14
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1905 chore(deps): update docker.io/freshrss/freshrss docker tag to v1.26.3
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
  charts/freshrss/README.md
  charts/freshrss/values.schema.json
  charts/freshrss/values.yaml
Labels: size/S, freshrss, renovate

#1906 chore(deps): update mongodb docker tag to v16.5.15
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1909 chore(deps): update postgresql docker tag to v16.7.9
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1911 chore(deps): update postgresql docker tag to v16.7.9
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1913 chore(deps): update postgresql docker tag to v16.7.9
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1914 chore(deps): update postgresql docker tag to v16.7.9
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1915 chore(deps): update mongodb docker tag to v16.5.16
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1916 chore(deps): update docker.io/baserow/backend docker tag to v1.33.4
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#1918 chore(deps): update mongodb docker tag to v16.5.17
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1921 chore(deps): update mongodb docker tag to v16.5.20
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1920 chore(deps): update rabbitmq docker tag to v16.0.6
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1925 chore(deps): update postgresql docker tag to v16.7.10
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1930 chore(deps): update mariadb docker tag to v20.5.7
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1931 chore(deps): update mariadb docker tag to v20.5.7
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1932 chore(deps): update mariadb docker tag to v20.5.7
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#1933 chore(deps): update mariadb docker tag to v20.5.7
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1926 chore(deps): update postgresql docker tag to v16.7.10
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1927 chore(deps): update postgresql docker tag to v16.7.10
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1929 chore(deps): update postgresql docker tag to v16.7.10
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1935 chore(deps): update rabbitmq docker tag to v16.0.7
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1936 chore(deps): update rabbitmq docker tag to v16.0.7
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1937 chore(deps): update mongodb docker tag to v16.5.21
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1942 chore(deps): update postgresql docker tag to v16.7.11
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1943 chore(deps): update postgresql docker tag to v16.7.11
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1945 chore(deps): update postgresql docker tag to v16.7.11
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1946 chore(deps): update postgresql docker tag to v16.7.11
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1947 chore(deps): update postgresql docker tag to v16.7.11
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1948 chore(deps): update postgresql docker tag to v16.7.11
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1949 chore(deps): update mariadb docker tag to v20.5.9
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1951 chore(deps): update mariadb docker tag to v20.5.9
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#1952 chore(deps): update mariadb docker tag to v20.5.9
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1953 chore(deps): update rabbitmq docker tag to v16.0.8
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1957 chore(deps): update mongodb docker tag to v16.5.22
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1958 chore(deps): update postgresql docker tag to v16.7.12
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1959 chore(deps): update postgresql docker tag to v16.7.12
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1961 chore(deps): update postgresql docker tag to v16.7.12
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1963 chore(deps): update postgresql docker tag to v16.7.12
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1966 chore(deps): update docker.io/prompve/prometheus-pve-exporter docker tag to v3.5.5
  charts/prometheus-pve-exporter/CHANGELOG.md
  charts/prometheus-pve-exporter/Chart.yaml
  charts/prometheus-pve-exporter/README.md
  charts/prometheus-pve-exporter/values.schema.json
  charts/prometheus-pve-exporter/values.yaml
Labels: size/S, prometheus-pve-exporter, renovate

#1968 chore(deps): update postgresql docker tag to v16.7.13
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1970 chore(deps): update postgresql docker tag to v16.7.13
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1971 chore(deps): update postgresql docker tag to v16.7.13
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1972 chore(deps): update postgresql docker tag to v16.7.13
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1973 chore(deps): update postgresql docker tag to v16.7.13
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1974 chore(deps): update docker.io/shlinkio/shlink-web-client docker tag to v4.4.1
  charts/shlink-web/CHANGELOG.md
  charts/shlink-web/Chart.yaml
  charts/shlink-web/README.md
  charts/shlink-web/values.schema.json
  charts/shlink-web/values.yaml
Labels: size/S, shlink-web, renovate

#1976 chore(deps): update docker.io/nginx docker tag to v1.29.0
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/values.schema.json
  charts/squest/values.yaml
Labels: size/S, renovate, squest

#1978 chore(deps): update rabbitmq docker tag to v16.0.9
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1983 chore(deps): update ghcr.io/mrueg/netcupscp-exporter docker tag to v0.4.4
  charts/netcupscp-exporter/CHANGELOG.md
  charts/netcupscp-exporter/Chart.yaml
  charts/netcupscp-exporter/README.md
  charts/netcupscp-exporter/values.schema.json
  charts/netcupscp-exporter/values.yaml
Labels: size/S, netcupscp-exporter, renovate

#1986 chore(deps): update postgresql docker tag to v16.7.14
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1989 chore(deps): update postgresql docker tag to v16.7.14
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1990 chore(deps): update postgresql docker tag to v16.7.14
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1991 chore(deps): update postgresql docker tag to v16.7.14
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate
