Repository christianhuth/helm-charts, pull requests merged in 2025-05, with the labels that each got.

#1742 Update docker.io/prompve/prometheus-pve-exporter Docker tag to v3.5.4
  charts/prometheus-pve-exporter/CHANGELOG.md
  charts/prometheus-pve-exporter/Chart.yaml
  charts/prometheus-pve-exporter/README.md
  charts/prometheus-pve-exporter/values.schema.json
  charts/prometheus-pve-exporter/values.yaml
Labels: size/S, prometheus-pve-exporter, renovate

#1740 Aktualisieren von deployment.yaml
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
  charts/polr/templates/deployment.yaml
Labels: size/S, polr

#1743 Update docker.io/freshrss/freshrss Docker tag to v1.26.2
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
  charts/freshrss/README.md
  charts/freshrss/values.schema.json
  charts/freshrss/values.yaml
Labels: size/S, freshrss, renovate

#1747 add issue for a new chart request
  .github/ISSUE_TEMPLATE/chart_request.yml
Labels: size/M

#1748 adjust title
  .github/ISSUE_TEMPLATE/chart_request.yml
Labels: size/XS

#1750 Update mysql Docker tag to v12.3.5
  charts/passbolt-ha/CHANGELOG.md
  charts/passbolt-ha/Chart.yaml
Labels: size/S, passbolt-ha, renovate

#1751 Update mysql Docker tag to v12.3.5
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
Labels: size/S, polr, renovate

#1753 Update mysql Docker tag to v12.3.5
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1756 Update docker.io/baserow/backend Docker tag to v1.33.1
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#1759 Update rabbitmq Docker tag to v16.0.2
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1771 Update labeler.yaml
  .github/config/labeler.yaml
Labels: size/XS, ci-cd

#1758 [squest] initial version of Chart
  README.md
  charts/squest/.helmignore
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/README.md.gotmpl
  charts/squest/icon.svg
  charts/squest/templates/NOTES.txt
  charts/squest/templates/_common.tpl
  charts/squest/templates/celery/beat/_beat.tpl
  charts/squest/templates/celery/beat/deployment.yaml
  charts/squest/templates/celery/beat/service.yaml
  charts/squest/templates/celery/beat/serviceaccount.yaml
  charts/squest/templates/celery/worker/_worker.tpl
  charts/squest/templates/celery/worker/deployment.yaml
  charts/squest/templates/celery/worker/service.yaml
  charts/squest/templates/celery/worker/serviceaccount.yaml
  charts/squest/templates/mariadb/_mariadb.tpl
  charts/squest/templates/mariadb/secret.yaml
  charts/squest/templates/rabbitmq/_rabbitmq.tpl
  charts/squest/templates/redis/_redis.tpl
  charts/squest/templates/squest/_squest.tpl
  charts/squest/templates/squest/configmap.yaml
  charts/squest/templates/squest/deployment.yaml
  charts/squest/templates/squest/hpa.yaml
  charts/squest/templates/squest/ingress.yaml
  charts/squest/templates/squest/pvc-media.yaml
  charts/squest/templates/squest/pvc-static.yaml
  charts/squest/templates/squest/service.yaml
  charts/squest/templates/squest/serviceaccount.yaml
  charts/squest/templates/squest/smtp/secret.yaml
  charts/squest/values-dev.yaml
  charts/squest/values.schema.json
  charts/squest/values.yaml
Labels: size/XXL, squest

#1764 Update postgresql Docker tag to v16.6.7
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1765 Update postgresql Docker tag to v16.6.7
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1766 Update postgresql Docker tag to v16.6.7
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1767 Update postgresql Docker tag to v16.6.7
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1768 Update postgresql Docker tag to v16.6.7
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1769 Update postgresql Docker tag to v16.6.7
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1770 Update postgresql Docker tag to v16.6.7
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1773 Update docker.io/nginx Docker tag to v1.28.0
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/values.schema.json
  charts/squest/values.yaml
Labels: size/S, renovate, squest

#1775 Update mariadb Docker tag to v20.5.4
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1778 Update mariadb Docker tag to v20.5.4
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1780 Update postgresql Docker tag to v16.7.0
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1786 Update mariadb Docker tag to v20.5.5
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1787 Update mariadb Docker tag to v20.5.5
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1788 Update mariadb Docker tag to v20.5.5
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#1781 Update postgresql Docker tag to v16.7.0
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1782 Update postgresql Docker tag to v16.7.0
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1783 Update postgresql Docker tag to v16.7.0
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1784 Update postgresql Docker tag to v16.7.0
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1785 Update postgresql Docker tag to v16.7.0
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1790 Update postgresql Docker tag to v16.7.1
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1797 Update docker.io/baserow/backend Docker tag to v1.33.2
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#1791 Update postgresql Docker tag to v16.7.1
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1792 Update postgresql Docker tag to v16.7.1
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1795 Update postgresql Docker tag to v16.7.1
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1796 Update postgresql Docker tag to v16.7.1
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1799 increase timeout to 15min
  .github/config/chart-testing.yaml
Labels: size/XS

#1798 Update zizmor.yml
  .github/config/zizmor.yaml
  .github/workflows/zizmor.yml
Labels: size/XS, ci-cd

#1755 Update renovatebot/github-action action to v41.0.22
  .github/workflows/renovate.yml
Labels: size/XS, ci-cd, renovate

#1800 remove trailing whitespaces
  .github/config/zizmor.yaml
Labels: size/XS

#1741 Update mongodb Docker tag to v16.5.6
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
  charts/countly/README.md
  charts/countly/values.schema.json
  charts/countly/values.yaml
Labels: size/M, countly, renovate

#1801 Update postgresql Docker tag to v16.7.2
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1802 Update postgresql Docker tag to v16.7.2
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1803 Update postgresql Docker tag to v16.7.2
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1804 Update postgresql Docker tag to v16.7.2
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1805 Update postgresql Docker tag to v16.7.2
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1806 Update postgresql Docker tag to v16.7.2
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1807 Update postgresql Docker tag to v16.7.2
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1809 Update labeler.yaml
  .github/config/labeler.yaml
Labels: size/XS, ci-cd

#1811 [mailcow-exporter] initial version of the chart
  README.md
  charts/mailcow-exporter/.helmignore
  charts/mailcow-exporter/CHANGELOG.md
  charts/mailcow-exporter/Chart.yaml
  charts/mailcow-exporter/README.md
  charts/mailcow-exporter/README.md.gotmpl
  charts/mailcow-exporter/ci/00-values.yaml
  charts/mailcow-exporter/icon.svg
  charts/mailcow-exporter/templates/NOTES.txt
  charts/mailcow-exporter/templates/_helpers.tpl
  charts/mailcow-exporter/templates/exporter/_helpers.tpl
  charts/mailcow-exporter/templates/exporter/deployment.yaml
  charts/mailcow-exporter/templates/exporter/hpa.yaml
  charts/mailcow-exporter/templates/exporter/ingress.yaml
  charts/mailcow-exporter/templates/exporter/secret.yaml
  charts/mailcow-exporter/templates/exporter/service.yaml
  charts/mailcow-exporter/templates/exporter/serviceaccount.yaml
  charts/mailcow-exporter/templates/exporter/servicemonitor.yaml
  charts/mailcow-exporter/templates/mailcow/_helpers.tpl
  charts/mailcow-exporter/templates/mailcow/secret.yaml
  charts/mailcow-exporter/values.schema.json
  charts/mailcow-exporter/values.yaml
Labels: size/XXL, mailcow-exporter

#1819 making podsecuritycontext unrequired
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/values.schema.json
  charts/squest/values.yaml
Labels: size/S, squest

#1821 Update postgresql Docker tag to v16.7.3
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1828 Update mongodb Docker tag to v16.5.7
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1820 squest: allow setting additional volumeMounts on squest, celery-worker and celery-beat pods
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/celery/beat/deployment.yaml
  charts/squest/templates/celery/worker/deployment.yaml
  charts/squest/templates/squest/deployment.yaml
  charts/squest/values.yaml
Labels: size/M, squest

#1830 remove persist-credentials
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1822 Update postgresql Docker tag to v16.7.3
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1823 chore(deps): update postgresql docker tag to v16.7.3
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1824 chore(deps): update postgresql docker tag to v16.7.3
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1827 chore(deps): update postgresql docker tag to v16.7.3
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1834 chore(deps): update postgresql docker tag to v16.7.4
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1835 chore(deps): update postgresql docker tag to v16.7.4
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1836 chore(deps): update postgresql docker tag to v16.7.4
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1837 chore(deps): update postgresql docker tag to v16.7.4
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1838 chore(deps): update postgresql docker tag to v16.7.4
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1839 chore(deps): update postgresql docker tag to v16.7.4
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1840 chore(deps): update postgresql docker tag to v16.7.4
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#1842 squest: remove readOnly option that annoys ArgoCD
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
Labels: size/XS, squest

#1844 [squest] Remove readOnly from volumes
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
Labels: size/XS, squest

#1846 [nextcloud-exporter] Initial Version of the Chart
  .devcontainer/devcontainer.json
  .devcontainer/postCreateCommand.sh
  .github/config/labeler.yaml
  .pre-commit-config.yaml
  README.md
  charts/nextcloud-exporter/.helmignore
  charts/nextcloud-exporter/CHANGELOG.md
  charts/nextcloud-exporter/Chart.yaml
  charts/nextcloud-exporter/README.md
  charts/nextcloud-exporter/README.md.gotmpl
  charts/nextcloud-exporter/ci/00-values.yaml
  charts/nextcloud-exporter/icon.svg
  charts/nextcloud-exporter/templates/NOTES.txt
  charts/nextcloud-exporter/templates/_helpers.tpl
  charts/nextcloud-exporter/templates/deployment.yaml
  charts/nextcloud-exporter/templates/hpa.yaml
  charts/nextcloud-exporter/templates/ingress.yaml
  charts/nextcloud-exporter/templates/secret.yaml
  charts/nextcloud-exporter/templates/service.yaml
  charts/nextcloud-exporter/templates/serviceaccount.yaml
  charts/nextcloud-exporter/templates/servicemonitor.yaml
  charts/nextcloud-exporter/values.schema.json
  charts/nextcloud-exporter/values.yaml
Labels: size/XXL, ci-cd

#1849 add gomplate to ci pipeline
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1850 add github token to job
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1851 change image to kube-powertools
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1852 define image correct
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1853 remove changelog step
  .github/workflows/chart-preparation.yml
  README.md
Labels: size/L, ci-cd

#1855 enable blank issues
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/XS

#1856 chore(deps): update mongodb docker tag to v16.5.8
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1857 chore(deps): update docker.io/baserow/backend docker tag to v1.33.3
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#1860 chore(deps): update mongodb docker tag to v16.5.10
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1862 chore(deps): update docker.io/bitnami/etcd docker tag to v3.6.0
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag, renovate

#1863 chore(deps): update mariadb docker tag to v20.5.6
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1864 chore(deps): update mariadb docker tag to v20.5.6
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1865 chore(deps): update mariadb docker tag to v20.5.6
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#1867 chore(deps): update rabbitmq docker tag to v16.0.3
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1868 chore(deps): update rabbitmq docker tag to v16.0.3
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#1843 squest: allow loading environment variables from configMaps and secrets via envFrom
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
  charts/squest/values.yaml
Labels: size/M, squest

#1869 Dev squest
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/templates/squest/deployment.yaml
  charts/squest/values.schema.json
  charts/squest/values.yaml
Labels: size/L, squest

#1870 [squest]: Allow setting the update strategy for the squest deployment and change this to "Recreate"
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/templates/squest/deployment.yaml
  charts/squest/values.yaml
Labels: size/S, squest

#1875 chore(deps): update postgresql docker tag to v16.7.5
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1881 chore(deps): update rabbitmq docker tag to v16.0.4
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1884 chore(deps): update postgresql docker tag to v16.7.6
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1885 chore(deps): update postgresql docker tag to v16.7.6
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1886 chore(deps): update postgresql docker tag to v16.7.6
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#1887 chore(deps): update postgresql docker tag to v16.7.6
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1888 chore(deps): update postgresql docker tag to v16.7.6
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1890 chore(deps): update mongodb docker tag to v16.5.13
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#1891 chore(deps): update postgresql docker tag to v16.7.8
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1893 chore(deps): update postgresql docker tag to v16.7.8
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#1896 chore(deps): update postgresql docker tag to v16.7.8
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#1897 chore(deps): update postgresql docker tag to v16.7.8
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate
