Repository christianhuth/helm-charts, pull requests merged in 2025-09, with the labels that each got.

#2204 chore(deps): update docker.io/baserow/backend docker tag to v1.35.1
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#2206 [github-exporter] fix path to private key
  charts/github-exporter/CHANGELOG.md
  charts/github-exporter/Chart.yaml
  charts/github-exporter/templates/deployment.yaml
Labels: size/XS, github-exporter

#2209 [audiobookshelf] fixed emptydir for /tmp folder
  charts/audiobookshelf/CHANGELOG.md
  charts/audiobookshelf/Chart.yaml
  charts/audiobookshelf/templates/deployment.yaml
Labels: size/S, audiobookshelf

#2187 feat(defrag): Move bitnami images to quay
  README.md
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag

#2210 [github-exporter] fix path to private key (#2206)
  charts/github-exporter/CHANGELOG.md
  charts/github-exporter/Chart.yaml
  charts/github-exporter/templates/deployment.yaml
Labels: size/XS, github-exporter

#2213 chore(deps): update quay.io/coreos/etcd docker tag to v3.6.5
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag, renovate

#2179 chore(deps): update mariadb docker tag to v22
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
  charts/syncstorage-rs/README.md
  charts/syncstorage-rs/README.md.gotmpl
Labels: size/S, syncstorage-rs, renovate

#2214 [umami] chore(release): update umami to version 5.0.9 and postgresql …
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami

#2098 chore(deps): update mysql docker tag to v14
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
  charts/polr/README.md
  charts/polr/README.md.gotmpl
Labels: size/S, polr, renovate

#2101 chore(deps): update mysql docker tag to v14
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/README.md.gotmpl
Labels: size/S, umami, renovate

#2147 chore(deps): update redis docker tag to v22
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/README.md.gotmpl
Labels: size/S, baserow, renovate

#2097 chore(deps): update mysql docker tag to v14
  charts/passbolt-ha/CHANGELOG.md
  charts/passbolt-ha/Chart.yaml
  charts/passbolt-ha/README.md
  charts/passbolt-ha/README.md.gotmpl
Labels: size/S, passbolt-ha, renovate

#2180 chore(deps): update mariadb docker tag to v22
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
  charts/typo3/README.md
  charts/typo3/README.md.gotmpl
Labels: typo3, size/S, renovate

#2215 chore(deps): update mysql docker tag to v14.0.3
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
Labels: size/S, polr, renovate

#2178 chore(deps): update mariadb docker tag to v22
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/README.md.gotmpl
Labels: size/S, renovate, squest

#2218 chore(deps): update mysql docker tag to v14.0.3
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#2177 chore(deps): update mariadb docker tag to v22
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/README.md
  charts/shlink-backend/README.md.gotmpl
Labels: shlink-backend, size/M, renovate

#2219 chore(deps): update mysql docker tag to v14.0.3
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2131 feat[baserow]: Add userUsernameKey to allow baserow getting the username from the existing secret
  charts/baserow/Chart.yaml
  charts/baserow/templates/_helpers.tpl
  charts/baserow/templates/asgi/asgi-deployment.yaml
  charts/baserow/templates/celery/celery-deployment.yaml
  charts/baserow/templates/database/postgresql-secret.yaml
  charts/baserow/templates/wsgi/wsgi-deployment.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow

#2223 feat[baserow]: Add userUsernameKey to allow baserow getting the usern…
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/templates/_helpers.tpl
  charts/baserow/templates/asgi/asgi-deployment.yaml
  charts/baserow/templates/celery/celery-deployment.yaml
  charts/baserow/templates/database/postgresql-secret.yaml
  charts/baserow/templates/wsgi/wsgi-deployment.yaml
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow

#1907 [squest] set erlangCookie for rabbitmq to make the deployment idempotent
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/values.yaml
Labels: size/S, squest
