Repository christianhuth/helm-charts, pull requests merged in 2025-01, with the labels that each got.

#1195 add source command
  .devcontainer/postCreateCommand.sh
Labels: size/XS

#1202 Dev ci
  .github/workflows/chart-releaser.yml
  .github/workflows/start.yml
Labels: size/XS

#1203 Update labeler.yaml
  .github/config/labeler.yaml
Labels: size/XS

#1204 rename start and call release directly
  .github/workflows/chart-pipeline.yml
  .github/workflows/chart-releasing.yml
Labels: size/S, ci-cd

#1205 pass secrets to releaser
  .github/workflows/chart-pipeline.yml
  .github/workflows/chart-releasing.yml
Labels: size/S, ci-cd

#1206 renaming
  .github/workflows/chart-linting.yml
  .github/workflows/chart-pipeline.yml
  .github/workflows/chart-preparation.yml
  .github/workflows/chart-releasing.yml
  .github/workflows/chart-testing.yml
Labels: size/S

#1207 removed GITHUB_TOKEN as input
  .github/workflows/chart-pipeline.yml
  .github/workflows/chart-releasing.yml
Labels: size/XS, ci-cd

#1209 use official pre-commit-hook
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Labels: size/S

#1210 Revert "use official pre-commit-hook"
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
Labels: size/S

#1212 remove hook
  .pre-commit-hooks.yaml
Labels: size/XS

#1215 pre-commit pushes changes back to repo
  .github/workflows/chart-preparation.yml
Labels: size/M, ci-cd

#1216 failing when there changed files
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1217 add branch name
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1220 change calculation of branch_name
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1221 add checkout command
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1222 add fetch-depth
  .github/workflows/chart-preparation.yml
Labels: size/XS, ci-cd

#1223 start on every branch
  .github/workflows/chart-pipeline.yml
Labels: size/XS

#1226 Update chart-preparation.yml
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1227 Update chart-pipeline.yml
  .github/workflows/chart-pipeline.yml
Labels: size/XS

#1230 Use github.head_ref on checkout
  .github/workflows/chart-linting.yml
  .github/workflows/chart-preparation.yml
  .github/workflows/chart-releasing.yml
  .github/workflows/chart-testing.yml
Labels: size/XS, ci-cd

#1237 bump helm dependencies
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/README.md.gotmpl
Labels: size/M, umami

#1239 bumped app version
  .gitignore
  charts/umami/.helmignore
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/values-dev.yaml
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami

#1243 add helm-unittest to pipeline
  .github/workflows/chart-pipeline.yml
  .github/workflows/chart-unittesting.yml
Labels: size/M, ci-cd, argocd-metrics-server

#1244 add kubeconform to pipeline
  .github/workflows/chart-kubeconform.yml
  .github/workflows/chart-pipeline.yml
  charts/argocd-metrics-server/Chart.yaml
Labels: size/M, ci-cd, argocd-metrics-server

#1245 nodeSelector not required anymore
  .github/workflows/chart-kubeconform.yml
  .github/workflows/chart-pipeline.yml
  charts/argocd-metrics-server/Chart.yaml
Labels: size/S, etcd-defrag

#1247 Create image_v1.json
  crds/kubevirt-manager.io/image_v1.json
Labels: size/L

#1253 rework changelog
  .github/config/chart-releasing.yaml
  .github/workflows/chart-preparation.yml
Labels: size/XS

#1263 use python 3.13
  .github/workflows/chart-linting.yml
Labels: size/XS

#1264 use python 3.13
  .github/workflows/chart-kubeconform.yml
  .github/workflows/chart-testing.yml
  .github/workflows/chart-unittesting.yml
Labels: size/S

#1277 Dev shlink
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
  charts/shlink-backend/README.md
  charts/shlink-backend/README.md.gotmpl
  charts/shlink-backend/ci/00-sqlite-values.yaml
  charts/shlink-backend/ci/01-mariadb-values.yaml
  charts/shlink-backend/ci/02-mysql-values.yaml
  charts/shlink-backend/ci/03-postgresql-values.yaml
  charts/shlink-backend/ci/04-integrations-values.yaml
  charts/shlink-backend/ci/05-rabbitmq-values.yaml
  charts/shlink-backend/ci/06-redis-values.yaml
  charts/shlink-backend/templates/database/_database.tpl
  charts/shlink-backend/templates/database/secret.yaml
  charts/shlink-backend/templates/deployment.yaml
  charts/shlink-backend/templates/matomo/_matomo.tpl
  charts/shlink-backend/templates/matomo/secret.yaml
  charts/shlink-backend/templates/mercure/_mercure.tpl
  charts/shlink-backend/templates/mercure/secret.yaml
  charts/shlink-backend/templates/rabbitmq/_rabbitmq.tpl
  charts/shlink-backend/templates/rabbitmq/secret.yaml
  charts/shlink-backend/templates/redis/_redis.tpl
  charts/shlink-backend/templates/shlink-backend/deployment.yaml
  charts/shlink-backend/templates/shlink-backend/hpa.yaml
  charts/shlink-backend/templates/shlink-backend/ingress.yaml
  charts/shlink-backend/templates/shlink-backend/service.yaml
  charts/shlink-backend/templates/shlink-backend/serviceaccount.yaml
  charts/shlink-backend/values-dev.yaml
  charts/shlink-backend/values.schema.json
  charts/shlink-backend/values.yaml
Labels: size/XXL, shlink-backend

#1280 add attach command to start minikube
  .devcontainer/devcontainer.json
Labels: size/XS

#1251 feat(shlink-web): support environment variables
  charts/shlink-web/CHANGELOG.md
  charts/shlink-web/Chart.yaml
  charts/shlink-web/README.md
  charts/shlink-web/templates/deployment.yaml
  charts/shlink-web/values.schema.json
  charts/shlink-web/values.yaml
Labels: size/L, shlink-web

#1282 feat(shlink-web): support environment variables
  charts/shlink-web/CHANGELOG.md
  charts/shlink-web/Chart.yaml
  charts/shlink-web/README.md
  charts/shlink-web/templates/deployment.yaml
  charts/shlink-web/values.schema.json
  charts/shlink-web/values.yaml
Labels: size/S, shlink-web
