Repository christianhuth/helm-charts, pull requests merged in 2025-07, with the labels that each got.

#1997 chore(deps): update postgresql docker tag to v16.7.15
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#1998 chore(deps): update postgresql docker tag to v16.7.15
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#1999 chore(deps): update postgresql docker tag to v16.7.15
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2000 chore(deps): update postgresql docker tag to v16.7.15
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2004 chore(deps): update rabbitmq docker tag to v16.0.10
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#1996 [umami] Updated Umami to latest (2.18.1)
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami

#1981 chore(deps): update mariadb docker tag to v21
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
  charts/syncstorage-rs/README.md
  charts/syncstorage-rs/README.md.gotmpl
Labels: size/S, syncstorage-rs, renovate

#2006 [umami] Updated Umami to latest (2.18.1) (#1996)
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/values.schema.json
  charts/umami/values.yaml
Labels: size/S, umami

#1762 chore(deps): update redis docker tag to v21
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
  charts/kutt/README.md
  charts/kutt/README.md.gotmpl
Labels: size/S, kutt, renovate

#1817 chore(deps): update mysql docker tag to v13
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
  charts/umami/README.md
  charts/umami/README.md.gotmpl
Labels: size/S, umami, renovate

#1774 chore(deps): update redis docker tag to v21
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
  charts/squest/README.md
  charts/squest/README.md.gotmpl
Labels: size/M, renovate, squest

#1813 chore(deps): update mysql docker tag to v13
  charts/passbolt-ha/CHANGELOG.md
  charts/passbolt-ha/Chart.yaml
  charts/passbolt-ha/README.md
  charts/passbolt-ha/README.md.gotmpl
Labels: size/S, passbolt-ha, renovate

#2015 chore(deps): update mariadb docker tag to v21.0.2
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#2016 chore(deps): update mariadb docker tag to v21.0.2
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#2018 chore(deps): update mongodb docker tag to v16.5.29
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#2020 chore(deps): update mysql docker tag to v13.0.3
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
Labels: size/S, polr, renovate

#2021 chore(deps): update mysql docker tag to v13.0.3
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2022 chore(deps): update mysql docker tag to v13.0.3
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#2025 chore(deps): update postgresql docker tag to v16.7.16
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2027 chore(deps): update postgresql docker tag to v16.7.16
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2029 chore(deps): update postgresql docker tag to v16.7.16
  charts/umami/CHANGELOG.md
  charts/umami/Chart.yaml
Labels: size/S, umami, renovate

#2009 chore(deps): update redis docker tag to v21.2.9
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#2010 chore(deps): update redis docker tag to v21.2.9
  charts/kube-ops-view/CHANGELOG.md
  charts/kube-ops-view/Chart.yaml
Labels: kube-ops-view, size/S, renovate

#2012 chore(deps): update redis docker tag to v21.2.9
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2013 chore(deps): update redis docker tag to v21.2.9
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#2032 chore(deps): update docker.io/baserow/backend docker tag to v1.34.1
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#2033 chore(deps): update docker.io/bitnami/etcd docker tag to v3.6.2
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag, renovate

#2035 chore(deps): update postgresql docker tag to v16.7.17
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#2036 chore(deps): update postgresql docker tag to v16.7.17
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#2037 chore(deps): update postgresql docker tag to v16.7.17
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2038 chore(deps): update postgresql docker tag to v16.7.17
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2039 chore(deps): update postgresql docker tag to v16.7.17
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2042 chore(deps): update redis docker tag to v21.2.10
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#2043 chore(deps): update redis docker tag to v21.2.10
  charts/kube-ops-view/CHANGELOG.md
  charts/kube-ops-view/Chart.yaml
Labels: kube-ops-view, size/S, renovate

#2044 chore(deps): update redis docker tag to v21.2.10
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2046 chore(deps): update redis docker tag to v21.2.10
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#2047 chore(deps): update postgresql docker tag to v16.7.18
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#2048 chore(deps): update postgresql docker tag to v16.7.18
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#2051 chore(deps): update postgresql docker tag to v16.7.18
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2052 chore(deps): update postgresql docker tag to v16.7.18
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#2056 chore(deps): update mariadb docker tag to v21.0.3
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
Labels: size/S, syncstorage-rs, renovate

#2054 chore(deps): update mariadb docker tag to v21.0.3
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2055 chore(deps): update mariadb docker tag to v21.0.3
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#2058 chore(deps): update mongodb docker tag to v16.5.30
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#2062 chore(deps): update mysql docker tag to v13.0.4
  charts/polr/CHANGELOG.md
  charts/polr/Chart.yaml
Labels: size/S, polr, renovate

#2063 chore(deps): update mysql docker tag to v13.0.4
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2066 chore(deps): update postgresql docker tag to v16.7.19
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#2067 chore(deps): update postgresql docker tag to v16.7.19
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2070 chore(deps): update postgresql docker tag to v16.7.19
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#2077 chore(deps): update mongodb docker tag to v16.5.31
  charts/countly/CHANGELOG.md
  charts/countly/Chart.yaml
Labels: size/S, countly, renovate

#2073 chore(deps): update redis docker tag to v21.2.12
  charts/kube-ops-view/CHANGELOG.md
  charts/kube-ops-view/Chart.yaml
Labels: kube-ops-view, size/S, renovate

#2074 chore(deps): update redis docker tag to v21.2.12
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2078 chore(deps): update docker.io/kubevirtmanager/kubevirt-manager docker tag to v1.5.1
  charts/kubevirt-manager/CHANGELOG.md
  charts/kubevirt-manager/Chart.yaml
  charts/kubevirt-manager/README.md
  charts/kubevirt-manager/values.schema.json
  charts/kubevirt-manager/values.yaml
Labels: size/S, kubevirt-manager, renovate

#2081 chore(deps): update postgresql docker tag to v16.7.20
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
Labels: size/S, baserow, renovate

#2083 chore(deps): update postgresql docker tag to v16.7.20
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2084 chore(deps): update postgresql docker tag to v16.7.20
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2086 chore(deps): update postgresql docker tag to v16.7.20
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#2089 chore(deps): update postgresql docker tag to v16.7.21
  charts/freshrss/CHANGELOG.md
  charts/freshrss/Chart.yaml
Labels: size/S, freshrss, renovate

#2090 chore(deps): update postgresql docker tag to v16.7.21
  charts/headwind-mdm/CHANGELOG.md
  charts/headwind-mdm/Chart.yaml
Labels: size/S, headwind-mdm, renovate

#2093 chore(deps): update postgresql docker tag to v16.7.21
  charts/typo3/CHANGELOG.md
  charts/typo3/Chart.yaml
Labels: typo3, size/S, renovate

#2102 chore(deps): update docker.io/bitnami/etcd docker tag to v3.6.3
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag, renovate

#2103 chore(deps): update docker.io/baserow/web-frontend docker tag to v1.34.4
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#2105 [goldpinger] change default value for timeout to include ms
  charts/goldpinger/CHANGELOG.md
  charts/goldpinger/Chart.yaml
  charts/goldpinger/README.md
  charts/goldpinger/values.schema.json
  charts/goldpinger/values.yaml
Labels: size/M, goldpinger

#2111 [goldpinger] change icon
  charts/goldpinger/CHANGELOG.md
  charts/goldpinger/Chart.yaml
  charts/goldpinger/icon.svg
Labels: size/L, goldpinger

#2108 chore(deps): update redis docker tag to v21.2.13
  charts/kutt/CHANGELOG.md
  charts/kutt/Chart.yaml
Labels: size/S, kutt, renovate

#2109 chore(deps): update redis docker tag to v21.2.13
  charts/shlink-backend/CHANGELOG.md
  charts/shlink-backend/Chart.yaml
Labels: size/S, shlink-backend, renovate

#2110 chore(deps): update redis docker tag to v21.2.13
  charts/squest/CHANGELOG.md
  charts/squest/Chart.yaml
Labels: size/S, renovate, squest

#2113 chore(deps): update docker.io/baserow/web-frontend docker tag to v1.34.5
  charts/baserow/CHANGELOG.md
  charts/baserow/Chart.yaml
  charts/baserow/README.md
  charts/baserow/values.schema.json
  charts/baserow/values.yaml
Labels: size/M, baserow, renovate

#2115 chore(deps): update docker.io/bitnami/etcd docker tag to v3.6.4
  charts/etcd-defrag/CHANGELOG.md
  charts/etcd-defrag/Chart.yaml
  charts/etcd-defrag/README.md
  charts/etcd-defrag/values.schema.json
  charts/etcd-defrag/values.yaml
Labels: size/S, etcd-defrag, renovate
