Repository christianhuth/helm-charts, pull requests merged in 2025-02, with the labels that each got.

#1295 fix: consistently use extraEnv
  charts/shlink-web/CHANGELOG.md
  charts/shlink-web/Chart.yaml
  charts/shlink-web/templates/deployment.yaml
Labels: size/S, shlink-web

#1296 Dev shlink web
  charts/shlink-web/CHANGELOG.md
  charts/shlink-web/Chart.yaml
  charts/shlink-web/templates/deployment.yaml
Labels: size/S, shlink-web

#1317 Create config.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: size/XS

#1320 Create feature_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: size/M

#1323 initial release of github-exporter
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/config/labeler.yaml
  README.md
  charts/github-exporter/.helmignore
  charts/github-exporter/CHANGELOG.md
  charts/github-exporter/Chart.yaml
  charts/github-exporter/README.md
  charts/github-exporter/README.md.gotmpl
  charts/github-exporter/templates/_helpers.tpl
  charts/github-exporter/templates/deployment.yaml
  charts/github-exporter/templates/secret.yaml
  charts/github-exporter/templates/service.yaml
  charts/github-exporter/templates/serviceaccount.yaml
  charts/github-exporter/templates/servicemonitor.yaml
  charts/github-exporter/values.schema.json
  charts/github-exporter/values.yaml
Labels: size/XXL, ci-cd

#1331 [popeye] Fix Pushgateway flags
  charts/popeye/CHANGELOG.md
  charts/popeye/Chart.yaml
  charts/popeye/templates/cronjob.yaml
Labels: size/S, popeye

#1342 Update labeler.yaml
  .github/config/labeler.yaml
Labels: size/XS, ci-cd

#1348 Initial Commit for DNS-Exporter
  README.md
  charts/dns-exporter/.helmignore
  charts/dns-exporter/CHANGELOG.md
  charts/dns-exporter/Chart.yaml
  charts/dns-exporter/README.md
  charts/dns-exporter/README.md.gotmpl
  charts/dns-exporter/templates/NOTES.txt
  charts/dns-exporter/templates/_helpers.tpl
  charts/dns-exporter/templates/configmap.yaml
  charts/dns-exporter/templates/deployment.yaml
  charts/dns-exporter/templates/hpa.yaml
  charts/dns-exporter/templates/ingress.yaml
  charts/dns-exporter/templates/service.yaml
  charts/dns-exporter/templates/serviceaccount.yaml
  charts/dns-exporter/templates/servicemonitor-self.yaml
  charts/dns-exporter/templates/servicemonitor-targets.yaml
  charts/dns-exporter/values-dev.yaml
  charts/dns-exporter/values.schema.json
  charts/dns-exporter/values.yaml
Labels: size/XXL, dns-exporter

#1361 Dev dnsbl exporter
  README.md
  charts/dnsbl-exporter/.helmignore
  charts/dnsbl-exporter/CHANGELOG.md
  charts/dnsbl-exporter/Chart.yaml
  charts/dnsbl-exporter/README.md
  charts/dnsbl-exporter/README.md.gotmpl
  charts/dnsbl-exporter/templates/NOTES.txt
  charts/dnsbl-exporter/templates/_helpers.tpl
  charts/dnsbl-exporter/templates/configmap.yaml
  charts/dnsbl-exporter/templates/deployment.yaml
  charts/dnsbl-exporter/templates/hpa.yaml
  charts/dnsbl-exporter/templates/ingress.yaml
  charts/dnsbl-exporter/templates/service.yaml
  charts/dnsbl-exporter/templates/serviceaccount.yaml
  charts/dnsbl-exporter/templates/servicemonitor.yaml
  charts/dnsbl-exporter/values.schema.json
  charts/dnsbl-exporter/values.yaml
Labels: size/XXL, dnsbl-exporter

#1362 Initial Commit
  README.md
  charts/syncstorage-rs/.helmignore
  charts/syncstorage-rs/CHANGELOG.md
  charts/syncstorage-rs/Chart.yaml
  charts/syncstorage-rs/README.md
  charts/syncstorage-rs/README.md.gotmpl
  charts/syncstorage-rs/templates/NOTES.txt
  charts/syncstorage-rs/templates/_helpers.tpl
  charts/syncstorage-rs/templates/syncserver-db/_database.tpl
  charts/syncstorage-rs/templates/syncserver-db/secret.yaml
  charts/syncstorage-rs/templates/syncstorage-rs/_helpers.tpl
  charts/syncstorage-rs/templates/syncstorage-rs/deployment.yaml
  charts/syncstorage-rs/templates/syncstorage-rs/ingress.yaml
  charts/syncstorage-rs/templates/syncstorage-rs/secret.yaml
  charts/syncstorage-rs/templates/syncstorage-rs/service.yaml
  charts/syncstorage-rs/templates/syncstorage-rs/serviceaccount.yaml
  charts/syncstorage-rs/templates/tokenserver-db/_database.tpl
  charts/syncstorage-rs/templates/tokenserver-db/secret.yaml
  charts/syncstorage-rs/values-dev.yaml
  charts/syncstorage-rs/values.schema.json
  charts/syncstorage-rs/values.yaml
Labels: size/XXL, syncstorage-rs
